*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

h1{
    font-size: 48px;
    font-weight: 100;
}
h2{
    font-size: 36px;
    font-weight: lighter;
}
h4 {
    font-size: 20px;
    font-weight: lighter;
}

a {
    color: #fff;
}

.contents1{
    font-size: 20px;
    font-weight: lighter;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}

.intro_bg{
    width: 94.9rem;
    height: 1020px;
    background-size: contain;
}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.img_color{
    position:absolute;
    top: 0px;
    left: 1273px;
    border:6.5px solid rgb(255, 255, 255);
    border-radius: 600px 0px 0px 600px;
    width: 239px;
    height: 485px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;
    pointer-events: none;
    z-index: 0;
}

.nav{
    position: relative;
    left: 410px;
    top: 20px;
    display: flex;
    justify-content: flex-start;
    line-height: 86px;
    width:calc(1280px - 300px);
}

.nav > li{
    margin-left: 55px;
}

.nav > li > a {
    font-size: 25px;
    color: #fff;
}

.nav1 {
    position: relative;
    top: 100px;
    left: -1px;
}

.nav1 > li {
    height: 70px;
    font-size: 30px;
    text-align: left;
    text-align: center;
}

.nav1 > li > a {
    font-family: 'Jua', sans-serif;
}

.intro_portfolio > h1 {
    position:absolute;
    left: 280px;
    top: 130px;
    font-size: 85px;
    color: white;
    font-family: 'Black Han Sans', sans-serif;
}
.intro_portfolio > .box {
    position: absolute;
    top: 440px;
    left: 370px;
    display: flex;
    height: 150px;
    margin: auto;
}

.box > div > li {
    background-color: rgb(0, 0, 0);
    border: 4px solid white;
    margin-top: 49px;
    width: 120px;
    height: 120px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 300px;
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;
    color: white;
    font-family: 'Jua', sans-serif;
    font-size: 22px;
    line-height: 125px;
}

.box > div > li:hover {
    color: black;
    width: 130px;
    font-size: 23px;
    height: 130px;
    line-height: 135px;    
    background-color: white;
    border: 4px solid black;
} 
.box > div:not(:last-child) {
    margin-right: 60px;
}

.main_text1 > .box2 {
    position: relative;
    top: 10px;
    display: flex;
    width: 1440px;
    height: 302px;
    margin: auto;
}

.box2 > li {
    flex: 1;
    background-color: white;
    margin-top: 49px;
    height: 302px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 30px;
}

.box2 > li > .icon_img{
    margin-top: 32px;
}
.box2 > li:not(:last-child) {
    margin-right: 30px;
}

.intro_text{
    position:absolute;
    top: -130px;
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}
.intro_text > h1 {
    position:relative;
    left: 30px;
    font-family: 'Edu TAS Beginner', cursive;
    color: #fff;
}
.intro_text > h4 {
    position:relative;
    left: 15px;
    font-family: 'Jua', sans-serif;
    color: #fff;
    padding-right: 10px;
}

.intro_text > img {
    position: relative;
    top: 150px;
    left: 30px;
}
/* main_text0 */

.main_text0 {
    width: 94.9rem;
    height: 601px;
    margin-top: -132px;
    background-color: #f2f2f3;
}

.main_text0 > h1 {
    padding-top: 116px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}

.main_text0 > .contents1 { 
    text-align: center;
    font-family: 'Jua', sans-serif;
}

/* main_text1 */
.main_text1 {
    width: 94.9rem;
    height: 301px;
    background-color: rgb(123, 123, 123);
}

.main_text1 > h1 {
    position: relative;
    top: 20px;
    padding-top: 116px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}

.main_text1 > .contents1 {
    position: relative;
    top: 20px;
    text-align: center;
    font-family: 'Jua', sans-serif;
}


/* main_text2 */
.main_text2 {
    width: 94.9rem;
    height: 170px;
    background-color: black;
}
.main_text2 > span {
    position: relative;
    top: 10px;
    left: 638px;
    color: #fff;
}

.icons {
    width: 1240px;
    height: 302px;
    margin: auto;
}

.icons > li {
    width: 380px;
    background-color: white;
    margin-top: 49px;
    height: 302px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 30px;
    float: left;
}

.icons > li:hover {
    position: relative;
    top: -6px;
    width: 400px;
    height: 308px;
    border: 5px solid black;
    cursor: pointer;
}

.icons > li > .icon_img{
    margin-top: 62px;
}
.icons > li:not(:last-child) {
    margin-right: 30px;
}

.icons .contents2 .box .box2{
    width: 240px;
    margin: auto;
    letter-spacing: -1px;
    
}

@media screen and (min-width:97rem) {
    .intro_bg{
        width: 118.9rem;
        height: 1330px;
    }
    

    .intro_portfolio > h1 {
        position:absolute;
        left: 300px;
        top: 150px;
        font-size: 100px;
        color: white;
        font-family: 'Black Han Sans', sans-serif;
    }
    .intro_portfolio > .box {
        position: absolute;
        top: 540px;
        left: 450px;
        display: flex;
        height: 150px;
        margin: auto;
    }

    .box > div > li {
        background-color: rgb(0, 0, 0);
        border: 4px solid white;
        margin-top: 49px;
        width: 150px;
        height: 150px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 300px;
        cursor: pointer;
        transition: all 0.4s;
        text-decoration: none;
        color: white;
        font-family: 'Jua', sans-serif;
        font-size: 27px;
        line-height: 148px;
    }
    
    .box > div > li:hover {
        color: black;
        width: 160px;
        font-size: 29px;
        height: 160px;
        line-height: 158px;    
        background-color: white;
        border: 4px solid black;
    } 
    .box > div:not(:last-child) {
        margin-right: 60px;
    }
    
    .main_text1 > .box2 {
        position: relative;
        top: 10px;
        display: flex;
        width: 1440px;
        height: 302px;
        margin: auto;
    }
    
    .box2 > li {
        flex: 1;
        background-color: white;
        margin-top: 49px;
        height: 302px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 30px;
    }
    
    .box2 > li > .icon_img{
        margin-top: 32px;
    }
    .box2 > li:not(:last-child) {
        margin-right: 30px;
    }
    .intro_text{
        position:absolute;
        top: -130px;
        width: 100%;
        margin: 231px auto 231px auto;
        text-align: center;
    }
    .intro_text > h1 {
        position:relative;
        left: 30px;
        font-family: 'Edu TAS Beginner', cursive;
        color: #fff;
    }
    .intro_text > h4 {
        position:relative;
        left: 15px;
        font-family: 'Jua', sans-serif;
        color: #fff;
    }
    
    .intro_text > img {
        position: relative;
        top: 150px;
        left: 30px;
    }

    .img_color{
        position:absolute;
        top: 0px;
        left: 1556px;
        border:6.5px solid rgb(255, 255, 255);
        border-radius: 600px 0px 0px 600px;
        width: 339px;
        height: 585px;
        background-color: rgb(0, 0, 0);
        cursor: pointer;
        transition: all 0.4s;
        text-decoration: none;
        pointer-events: none;
        z-index: 0;
    }
    
    .main_text0 {
        width: 118.9rem;
        height: 601px;
        margin-top: -340px;
        background-color: #f2f2f3;
    }
    
    .main_text1 {
        width: 118.9rem;
        height: 731px;
    }

    .main_text2 {
        width: 118.9rem;
        height: 170px;
        background-color: black;
    }
    .main_text2 > span {
        position: relative;
        top: 10px;
        left: 838px;
        color: #fff;
    }

    .icons {
        width: 1440px;
        height: 302px;
        margin: auto;
    }
    
    .icons > li {
        width: 450px;
        background-color: white;
        margin-top: 49px;
        height: 302px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        border-radius: 30px;
        float: left;
    }
    
    .icons > li:hover {
        position: relative;
        top: -6px;
        width: 470px;
        height: 308px;
        border: 5px solid black;
        cursor: pointer;
    }
    
    .icons > li > .icon_img{
        margin-top: 62px;
    }
    .icons > li:not(:last-child) {
        margin-right: 30px;
    }
    
    .icons .contents2 .box .box2{
        width: 240px;
        margin: auto;
        letter-spacing: -1px;
    }

    footer {
        display: flex;
        width: 115.1rem;
        background: #1f1f1f;
        padding: 30px;
    }

    .amount{
        position: relative;
        top:-66px;
        display: flex;
        width:1280px;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        margin: 0px 313px 0px 313px;
    }
    
    .amount > li {
        flex: 1;
        height: 132px;
    }
    
    .amount > li > div {
        text-align: center;
        margin-top: 37px;
        height: 57px;
    }
    
    .amount > li:not(:last-child) > div{
        border-right: 1px solid gray;
    }
}